<!--  hero-unit has special meaning to Bootstrap -->
<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>

	<h2>
		This is the home page for the 
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
	</h2>
	<!-- btn btn-large btn-primary special to Bootstrap -->
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!-- alt attribute is what will be displayed if there is no image, also 
	what will be displayed for the visually impaired -->
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

