<% provide(:title, @user.name) %>
<!-- "row" and "span4" are part of Bootstrap -->
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>